.mui-content{margin: 20px;}
.log-detail-wrap{padding: 20px 10px 20px 10px}
.log-title p{font-size: 18px; color: #000000; margin-bottom: 20px}
.log-time p, .log-emp p{font-size: 12px; margin-bottom: 0px}
.log-content p{font-size: 15px; color: #000000;}