.mui-content{margin: 30px 20px; /* border: solid #000000 1px; */position: relative;}
.info-item{height: 50px;}
.head-img{height: 170px; width: 120px; border: solid 1px black; float: right;}
.mui-scroll{padding: 50px 20px 20px 20px;}
.btn-bar{width: 100%; height: 50px; margin-top: 15px;}
.btn-bar button{width: 49%; height: 45px;}